<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/vaangular-demo/src/main/java/de/akquinet/engineering/vaadin/vaangular/demo/VaangularApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.akquinet.engineering.vaadin.vaangular.demo.VaangularApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="vaangular-demo"/>
</launchConfiguration>
